
<div class="pagebox">

	<div id="users" >		
		<div class="inputbox">
			<h1> Explore Users:  </h1>
		</div>
		
		<br>
		
		<% @users.each_with_index do |user, index| %>
			<% next if(user.id == current_user.id)%>
			<div class="inputbox" style="display: inline-block">
				<a href="<%= user_url(user) %>"><%=user.username%></a>
				<br>
				<a href="<%= user_url(user) %>">
					
					<img
					<% if user.profile_picture_id %>
						src="<%= user.photos.find_by_id( user.profile_picture_id).url %>"  
					<% else %>
						src="<%= asset_path 'default_profile_pic.png' %>"  
					<% end %>
					onerror="this.src='<%= asset_path 'default_profile_pic.png' %>'" 
					style="height: 75px"></a>
				
			</div>
			
			&nbsp
			
			<% if(index > 0 && index % 4 == 0) %>
				<br>
				<br>
			<% end %>
			
		<% end %>
	</div>
</div>