<script type="text/javascript">

function createModal (url) {
	return "<div><img src='" + url + "' width='700' class='simplemodal-close' ></div>";
}

function follow(user_id, id){
	$.ajax({
		url: "/users/" + user_id + "/follows/",
		type: "POST",
		data: {
			'follow': {
				'follower_id': user_id,
				'following_id': id	
			}
		},
		success: function(responseData){
			$('#unfollowButton').attr('data-id', responseData.id);
			
			$('#unfollowButton').removeClass("hidden");
			$('#followButton').addClass("hidden");
			
		},
		failure: function(responsoData){
		}
	});
}


function unfollow(user_id){
	var id = $('#unfollowButton').attr('data-id');
	
	$.ajax({
		url: "/users/" + user_id + "/follows/" + id,
		type: "DELETE",
		success: function(responseData){
			$('#unfollowButton').addClass("hidden");
			$('#followButton').removeClass("hidden");
			var followers = $('#follower_count').innerHTML;
			console.log($('#follower_count')	);
		},
		failure: function(responsoData){
		}
	});
}

function changeProfilePic(user_id, photo_id){
	$.ajax({
		type: "PUT",
		dataType: "json",
		url: "/users/" + user_id,
		data: {
			'user': {
				'profile_picture_id': photo_id
			}
		},
		success: function(responseData){
			$('#profilePic').attr('src', responseData);
			alert('Profile Picture Changed');
			
		},
		failure: function(responseData){
		}
	});
}

</script>

<div class="pagebox">

	<div id="user_feed">
		<div class="inputbox" >
			<h1><%= @user.username %>'s page!</h1>
			
			<div>
			
			<img id="profilePic" 
				<% if @user.profile_picture_id %>
					src="<%= @user.photos.find_by_id( @user.profile_picture_id).url %>"  
				<% else %>
					src="<%= asset_path 'default_profile_pic.png' %>"  
				<% end %>
				onerror="this.src='<%= asset_path 'default_profile_pic.png' %>'" 
				style="max-height: 250px; max-width: 250px; display:inline; margin-left: 10%">
				
				<div style='display: inline; float: right; margin-right: 10%'>
					<p style="display: inline">Snaps:<span id="snap_count"><%= @user.photos.length %></span></p>
					<br>
					<p style="display: inline">Followers:<span id="follower_count"><%= @user.followers.length %></span></p>
					<br>
					<p style="display: inline">Following:<span id="following_count"><%= @user.following.length %></span></p>
				</div>
				
			
			</div>
			
			<br>
			<% if(current_user.id != @user.id) %>
		
					<button id="unfollowButton" onclick="unfollow('<%= current_user.id %>')" 	
						<% unless(current_user.following.include?(@user)) %>
							class="hidden"
							data-id="nope"
						<% else %>
							data-id="<%= current_user.following_join.where({:following_id => @user.id }).first.id %>"
						<% end  %>
						>UNFOLLOW</button>
		
					<button id="followButton" onclick='follow("<%= current_user.id %>", "<%= @user.id %>")'
						<% if(current_user.following.include?(@user)) %>
							class="hidden"
						<% end  %>
				
						>FOLLOW</button>
		
				<br>
			<% else  %>
				<a href="<%= edit_user_url(current_user) %>">
					<button  >Edit Profile</button></a>
		
			<% end %>

			
				<span style="text-align: left;"><h4>Tagline: </h4></span>
			<p style="width: 400px; word-wrap:normal"><%= @user.tagline %></p>

			<br>

			<span style="text-align: left;"><h4>Blurb: </h4></span>
			<p style="width: 400px; word-wrap:normal" ><%= @user.blurb %></p>
			<br>
			
			
			<h4>Photos: </h4>
			
			<!-- <ul class="pager">  
			  <li class="previous">  
			    <a href="#">← Older</a>  
			  </li>  
			  <li class="next">  
			    <a href="#">Newer →</a>  
			  </li>  
			</ul>  -->
			
			<%= paginate @photos %>
			
			<br/>
			
			<% @photos.each do |photo| %>
				<img style="display: inline;" src="<%= photo.url %>" width="400" onclick='$.modal( createModal( "<%= photo.url %>" ), { "overlayClose": true } );'>	
				<br>
				<% if @user.id == current_user.id %>
				
				<button id="profile-button-<%= photo.id %>" onclick="changeProfilePic('<%= current_user.id %>', '<%= photo.id %>')">Make This Profile Picture</button>
				<br>
				<br>
				<% end %>
				<br>
			<% end %>
		
			<%= paginate @photos %>
			
		</div>
	</div>
</div>

