<!-- Load editor widget code! -->
<!-- <script type="text/javascript" src="http://feather.aviary.com/js/feather.js"></script> -->


<!-- Instantiate Feather -->
<script type='text/javascript'>
   var featherEditor = new Aviary.Feather({
       apiKey: '<%= ENV['AVIARY_KEY'] %>',
       apiVersion: 3,
       theme: 'dark', // Check out our new 'light' and 'dark' themes!
       tools: 'enhance,effects,crop,resize,orientation,focus,brightness,contrast,saturation,warmth,sharpness,colorsplash,redeye,whiten,blemish',
       appendTo: 'editDiv',
       onSave: function(imageID, newURL) {
		   
		   filepicker.storeUrl(
			   newURL,
			   {},
			   function(inkBlob){
				   //success
		           var img = document.getElementById(imageID);
		           img.src = newURL;
				   var formImg = $("#submit_img");
				   formImg.attr('value', inkBlob.url);
				   console.log(inkBlob.url);
			   },
			   function(inkBlob){
				   //error
				   alert('error uploading')
			   }
		   );
		   
		   
		   featherEditor.close();
       },
       onError: function(errorObj) {
           alert(errorObj.message);
       }
   });
   function launchEditor(id, src) {
       featherEditor.launch({
           image: id,
           url: src
       });
      return false;
   }
</script>

<div class="pagebox">

	<div id="photo_new_div">
		<div class="inputbox">
			<h1>Upload a Photo: </h1>
			<%= form_for user_photos_url(current_user) do |f| %>
				<div id="uploaderDiv">
					<br>
				<%= f.filepicker_field :url, dragdrop: true, mimetypes: 'image/*', onchange: 'uploaded(event)' %>
				<!-- <input type="hidden" id="photo_url" name:"photo[url]" value=""> -->
				</div>
			<% end %>
			
			<br>
			<div id="editorDiv" class="hidden" >
				<img id="imgPreview" src="" width="350">
				<br>
				<br>
				<a href="#" onclick="return launchEditor('imgPreview', previewUrl());">
					<button  >Edit Photo!</button></a>
					
					&nbsp
				<form action="<%= user_photos_url(current_user) %>" method="POST" style="display: inline;" >
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type="hidden" name="photo[url]" id="submit_img" value="asdf">
					<input type="hidden" name="photo[user_id]" value="<%=current_user.id%>">
					<input type="submit" value="Upload Picture">
				</form>
				<br>
			</div>
			
		</div>
	
	</div>
</div>

<div id="editDiv" style="zoom: 0.2;">
	
</div>


<script>
uploaded = function(event){	
	var uploadDiv = $('#uploaderDiv').addClass('hidden');
	var editDiv = $('#editorDiv').removeClass('hidden');
	$('#imgPreview').attr('src', event.fpfile.url);
	$('#submit_img').attr('value', event.fpfile.url)
	
}

previewUrl = function(){
	return $('#imgPreview').attr('src');
}
</script>