<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SnapSplat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: #2980b9;">
	
<!-- Nav Bar setup -->	
<% if current_user %>

<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="<%= user_url(current_user) %>">SnapSplat: <%= current_user.username %></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="<%= user_home_url(current_user) %>">Home</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Profile <b class="caret"></b></a>
        <ul class="dropdown-menu">
          	<li><a href="<%= user_url(current_user) %>">View My Profile</a></li>
			<li><a href="<%= edit_user_url(current_user) %>">Edit My Profile</a></li>
        </ul>
      </li>
	  <li><a href="<%= users_url %>">Browse Users</a></li>
	  <li><a href="<%= new_user_photo_url(current_user) %>">Upload Photo</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
	    <form class="navbar-form navbar-right" action="<%= session_url %>" method="POST">
			<input type="hidden" name="_method" value="DELETE">
	      <button type="submit" class="btn btn-default">Logout</button>
	    </form>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<% end %>

<!-- Error/Notices flash -->
<% if flash.now[:notice] %>

		<% flash.now[:notice].each do |notice| %>
			<h4 style="color: red;"><%= notice%></h4>
		<% end %>

<% end %>


<!-- Load current page -->
<div class="outer-center">
	<div class="inner-center">
		<%= yield %>		
	</div>
</div>
		

</body>
</html>
