<!DOCTYPE html>
<html>
<head>
  <title>SnapSplat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>
</head>
<body class='container-fluid' style="background-color: #2980b9;">
	
<!-- Nav Bar setup -->	
<% if !current_user.nil? %>

<!-- User bar -->
<div class="outer-center">
	<div class="inner-center">
		<div class="inputbox">
			Logged in as: <%= current_user.username %>
			<%= button_to "Logout", session_url, :method => :delete %>
		</div>
	</div>
</div>

<div class="row">
	<div class="span4" style="float: none; margin:0 auto;">
		<div class="span2"></div>
		<div class="span1"><</div>
	</div>
</div>


<div class="row inputbox">
	<div class="span5 " style="float: none; margin:0 auto;">
		<div class="span1"><a href="<%= user_home_url(current_user) %>">HOME</a></div>
		<div class="span1"><a href="<%= user_url(current_user.id)%>">PROFILE</a></div>
		<div class="span1"><a href="<%= users_url %>">EXPLORE</a></div>
		<div class="span1"><a href="<%= new_user_photo_url(current_user) %>">UPLOAD</a></div>

	</div>
</div>


<% end %>

<!-- Error/Notices flash -->
<% if flash.now[:notice] %>
<ul>
<% flash.now[:notice].each do |notice| %>
	<li><%= notice %></li>
<% end %>
</ul>
<% end %>


<!-- Load current page -->
<div class="outer-center">
	<div class="inner-center">
		<%= yield %>		
	</div>
</div>
		

</body>
</html>
