<!DOCTYPE html>
<html>
<head>
  <title>SnapSplat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<!-- Nav Bar setup -->	
<% if !current_user.nil? %>
  <ul>
    <li style="display: inline;">Logged in as: <%= current_user.username %></li>
    <li style="display: inline-block;"><%= button_to "Logout", session_url, :method => :delete %></li>
	<li style="display: inline;"><a href="<%= user_home_url(current_user) %>">HOME</a></li>
	<li style="display: inline;"><a href="<%= user_url(current_user.id)%>">PROFILE</a></li>
	<li style="display: inline;"><a href="<%= users_url %>">EXPLORE</a></li>
	<li style="display: inline;"><a href="<%= new_user_photo_url(current_user) %>">UPLOAD SNAP</a></li>
  </ul>
<% end %>

<!-- Error/Notices flash -->
<% if flash.now[:notice] %>
<ul>
<% flash.now[:notice].each do |notice| %>
	<li><%= notice %></li>
<% end %>
</ul>
<% end %>

<!-- Load current page -->
<%= yield %>

</body>
</html>
